<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>200</integer>
		<key>cid</key>
		<integer>1</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Vrindavan Car Parking</string>
		<key>latitude</key>
		<real>27.5650088</real>
		<key>longitude</key>
		<real>77.65933939</real>
		<key>address</key>
		<string>Vrindavan, Uttar Pradesh, India</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>201</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Apsara parking lot</string>
		<key>latitude</key>
		<real>27.4980604</real>
		<key>longitude</key>
		<real>77.6845998</real>
		<key>address</key>
		<string>Holi Gate-Tank Choraha Road, Mathura, Uttar Pradesh 281001</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>202</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Hotel Parking</string>
		<key>latitude</key>
		<real>27.5118101</real>
		<key>longitude</key>
		<real>77.67227370000001</real>
		<key>address</key>
		<string>NH2-Bhuteshwar Rd, Chowk Bazar, Mathura, Uttar Pradesh 281003</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>203</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Lori Parking Stand</string>
		<key>latitude</key>
		<real>27.429355</real>
		<key>longitude</key>
		<real>77.697913</real>
		<key>address</key>
		<string>NH2, Refinery Nagar, Mathura, Uttar Pradesh 281006</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>204</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Hospital Parking</string>
		<key>latitude</key>
		<real>27.4244951</real>
		<key>longitude</key>
		<real>77.6947519</real>
		<key>address</key>
		<string>Mathura Refinery Nagar, Refinery Nagar, Uttar Pradesh 281006</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>205</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Truck Parking Place</string>
		<key>latitude</key>
		<real>27.4859</real>
		<key>longitude</key>
		<real>77.655862</real>
		<key>address</key>
		<string>NH2, Surya Nagar, Mathura, Uttar Pradesh 281004</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>206</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Brij Bihar Parking</string>
		<key>latitude</key>
		<real>27.4981</real>
		<key>longitude</key>
		<real>77.687637</real>
		<key>address</key>
		<string>Antapara, Mathura, Uttar Pradesh 281001</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>207</integer>
		<key>cid</key>
		<integer>3</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Car parking near goverdhan</string>
		<key>latitude</key>
		<real>27.4941799</real>
		<key>longitude</key>
		<real>77.4679725</real>
		<key>address</key>
		<string>Goverdhan Brahmnan, Uttar Pradesh</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>208</integer>
		<key>cid</key>
		<integer>3</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>purnima car parking</string>
		<key>latitude</key>
		<real>27.4944907</real>
		<key>longitude</key>
		<real>77.687637</real>
		<key>address</key>
		<string>Goverdhan Brahmnan, Uttar Pradesh, Mathura, Uttar Pradesh 281001</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>209</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Shri Ji Car Parking</string>
		<key>latitude</key>
		<real>27.504969</real>
		<key>longitude</key>
		<real>77.671537</real>
		<key>address</key>
		<string>Deeg Gate, Mathura, Uttar Pradesh 281001</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>210</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Parking</string>
		<key>latitude</key>
		<real>27.4251879</real>
		<key>longitude</key>
		<real>77.6919812</real>
		<key>address</key>
		<string>Mathura Refinery Nagar, Refinery Nagar, Mathura, Uttar Pradesh 281006</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>211</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Vikas Bazar Car Parking</string>
		<key>latitude</key>
		<real>27.4948</real>
		<key>longitude</key>
		<real>77.68463800000001</real>
		<key>address</key>
		<string>Agra Rd, Dampier Nagar, Mathura, Uttar Pradesh 281001</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>212</integer>
		<key>cid</key>
		<integer>2</integer>
		<key>image</key>
		<string>image</string>
		<key>lastupdate</key>
		<string>-</string>
		<key>parking</key>
		<string>0/0</string>
		<key>name</key>
		<string>Highway Plaza Parking</string>
		<key>latitude</key>
		<real>27.4930925</real>
		<key>longitude</key>
		<real>77.6552671</real>
		<key>address</key>
		<string>NH 2, Krishna Nagar, Mathura, Uttar Pradesh</string>
	</dict>
</array>
</plist>
